<div class="friends">
{{ $siteResources := resources }}
{{ range $i, $link :=  $.Site.Data.friends }}
    <div class="friend-card border border-neutral-200 dark:border-neutral-700 border-2 rounded-md bg-neutral-100 dark:bg-neutral-700">
        <a href="{{ $link.website }}" target="_blank" rel="noopener">
            <div class="card-details">
                <div class="font-bold text-lg text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">
                    {{- $link.title -}}
                </div>
                
                    {{ with $link.description }}
                    <div class="mt-1 text-xs text-neutral-500 dark:text-neutral-400">
                        {{ . }}
                    </div>
                    {{ end }}
                    {{ with $link.notes }}
                    <div class="mt-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
                        {{ . }}
                    </div>
                    {{ end }}
                    </div>
    
            {{ with $link.image }}
            <div class="card-image">
                <img src="{{ . }}" loading="lazy" class="nozoom">
            </div>
        {{ end }}
        </a>
    </div>
{{ end }}
</div>
