<div class="friends">
{{ $siteResources := resources }}
{{ range $i, $link :=  $.Site.Data.friends }}
    <a href="{{ $link.website }}" target="_blank" rel="noopener" class="friend-card block rounded-md hover:no-underline bg-neutral-100 dark:bg-neutral-700">
            <div class="card-details">
                <div class="card-title font-bold text-lg text-neutral-800 dark:text-neutral">
                    {{- $link.title -}}
                </div>

                {{ with $link.description }}
                <div class="mt-1 text-xs text-neutral-500 dark:text-neutral-300">
                    {{ . }}
                </div>
                {{ end }}

                {{ with $link.notes }}
                <div class="mt-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
                    {{ . }}
                </div>
                {{ end }}
            </div>

            {{ with $link.image }}
            <div class="card-image">
                <img src="{{ . }}" loading="lazy" class="nozoom">
            </div>
            {{ end }}
    </a>
{{ end }}
</div>
